<launch>

<rosparam file="$(find roarm_assembly_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="roarm_assembly" args="base_twist_position_controller shoulder_position_controller elbow_position_controller wrist_position_controller left_finger_position_controller right_finger_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/roarm_assembly/joint_states"/>
</node>

</launch>